@tailwind base;
@tailwind components;
@tailwind utilities;

.mask:after {
  mask: linear-gradient(rgb(255 255 255) 0 0) content-box,
    linear-gradient(rgb(255 255 255) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
